<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- <add key="StorageConnectionString" value="UseDevelopmentStorage=true" /> -->
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=myragrsacct;AccountKey=9dyzOE7yQ4u+l4Gwf6Givmi08LWwZXWyt3qRxSo9ne7qYL5fG729Z0XfZkhJUi3iJlD3gWED8vYoNHam8qAz1g==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>